[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=blueman
Name=bluetooth-start
Exec=/licux/.lcbin/bluetooth-start.sh
Categories=Network

